:root {
  --text-primary: #333;
  --text-secondary: #f2b679;
  --text-tertiary: #e68aa9;
  --background-primary: #e6e6da;
  --text-quaternary: var(--background-primary);
}

body {
  font-family: "Quicksand";
  margin: 0;
  background: var(--background-primary);
  color: var(--text-primary);
}

#title {
  width: 512px;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 2em;
}

p {
  margin: 0.5rem;
}

#subtitle {
  font-size: 2em;
  font-weight: 700;
}

#soon {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 1em;
}

.hero {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: var(--background-primary) url(./img/cnvs-background.svg) no-repeat
    center;
  background-size: cover;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-link {
  text-align: center;
  width: 100px;
}

a {
  font-weight: 700;
  color: var(--text-primary);
  text-decoration: none;
  display: block;
  width: fit-content;
  transition: transform 50ms ease-out;
}
a:hover {
  transform: scale(1.1);
}

.text-secondary > a:hover {
  color: var(--text-secondary);
}
.text-quaternary > a:hover {
  color: var(--text-quaternary);
}

.text-tertiary > a:hover {
  color: var(--text-tertiary);
}

@media only screen and (max-width: 540px) {
  #title {
    width: calc(100vw - 20px);
  }
}
